<ion-view view-title="Sk8 Log">
    <div id="firebaseui-auth-container"></div>
  <ion-content class="padding">
      <form class="list" ng-submit="vm.addRecord()">
        <label class="item item-input">
            <input type="text" placeholder="Trick" ng-model="vm.newTrickText">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Location" ng-model="vm.newPlaceText">
        </label>
        <label class="item item-input">
            <textarea placeholder="Notes" ng-model="vm.newNotesText"></textarea>
        </label>
        <button class="button button-dark" type="submit">Submit</button>
      </form>

      <!-- this section displays data from firebase-->

         <div class="list card" ng-repeat="record in vm.records">
             <div class="item dark">
                 <h2 class="trick-text">{{ record.trick }}</h2>
                 <p class="location-text">{{ record.place }}</p>
             </div>
             <div class="item item-body">
                 <p class="notes-text">{{ record.notes }}</p>
             </div>
         </div>


  </ion-content>
</ion-view>
