<ion-view view-title="Map">

    <ion-content class="padding">

        <div ng-if="vm.pauseLoading">
            <h1>Waiting for 2 seconds to lazy load the maps API via map-lazy-load</h1>
        </div>
        <div ng-if="!vm.pauseLoading">

            <div map-lazy-load="https://maps.google.com/maps/api/js"
                 map-lazy-load-params="{{vm.googleMapsUrl}}">
                <ng-map default-style="true" center="35.1823, -83.3815" zoom="7">
                    <marker id='{{shop.id}}' position="{{shop.position}}"
                            ng-repeat="shop in vm.shops"
                            on-click="vm.showDetail(shop)">
                    </marker>

                    <info-window id="foo-iw">
                        <div ng-non-bindable="">
                            Name: {{vm.shop.name}}<br />
                            Address: {{vm.shop.address}}<br />
                            Position: {{vm.shop.position}}<br />
                            <a href="#" ng-click="vm.clicked()">Click Here</a>
                        </div>
                    </info-window>
                </ng-map>

                <button ng-click="vm.showDetail(e, vm.shop)">
                    show InfoWindow of the shop
                </button>
                <button ng-click="vm.hideDetail(e, vm.shop)">
                    Hide InfoWindow of the shop
                </button>
            </div>
        </div>
    </ion-content>

</ion-view>
