<ion-view view-title="Account">
    <ion-content>
      <!-- Login and signup -->
        <div class="card" ng-hide="vm.firebaseUser">
            <div class="item item-text-wrap">
                <div ng-hide="vm.firebaseUser">
                Please sign in or create an account to use the Sk8 Log.
                    <!-- Login and signup buttons -->
                    <div class="button-bar bar-balanced">
                        <button class="button" ng-click="vm.showLogin()">Log in</button>
                        <button class="button" ng-click="vm.showSignup()">Sign up</button>
                    </div>
                </div>

                <!-- Signup form -->
                <div class="list" ng-hide="!vm.isHiddenSignup || vm.firebaseUser">
                    <label class="item item-input">
                        <input type="email" placeholder="E-mail" ng-model="vm.email" required />
                    </label>
                    <label class="item item-input">
                        <input name="newPassword" type="password" placeholder="Password" ng-model="vm.password" required />
                    </label>
                    <label class="item item-input">
                        <input name="confirmPassword" type="password" placeholder="Confirm Password" ng-model="vm.rePassword" nx-equal="vm.password" required />
                        <span ng-show="form.verify.$error.nxEqual">Passwords must match!</span>
                    </label>
                    <button class="button button-balanced center" type="submit" ng-click="vm.createUser()">Create User</button>
                </div>

                <!-- Login form -->
                <div class="list" ng-hide="!vm.isHiddenLogin || vm.firebaseUser">
                    <label class="item item-input">
                        <input type="email" placeholder="E-mail" ng-model="vm.email" required />
                    </label>
                    <label class="item item-input">
                        <input name="newPassword" type="password" placeholder="Password" ng-model="vm.password" required />
                    </label>
                    <button class="button button-balanced center" type="submit" ng-click="vm.signIn()">Sign in</button>
                    
                </div>
                <button ng-hide="vm.firebaseUser" class="button button-balanced center" type="submit" ng-click="vm.forgotPass()">Forgot password?</button>
            </div>
        </div>

        <!-- password reset -->
        <div class="card" ng-hide="!vm.isHiddenPassReset || vm.firebaseUser">
            <div class="item item-text-wrap">
                Enter the e-mail address you use to login.
            </div>
            <label class="item item-input">
                <input type="email" placeholder="E-mail" ng-model="vm.emailReset" />
            </label>
            <button class="button button-balanced" type="submit" ng-click="vm.submitEmail()">Submit</button>
        </div>
          
          <!--message response -->
          <p id="success-msg" class="alert-balanced balanced" ng-if="vm.message">{{ vm.message }}</p>
          <!-- email sent response-->
          <p class="alert-balanced balanced" ng-if="vm.sentEmail"> {{ vm.sentEmail }}</p>
          <!-- If signed in, show who user is signed in as, with sign out option-->
          <div ng-if="vm.firebaseUser">
              <p class="alert-balanced balanced" ng-if="vm.firebaseUser">
                  Signed in user: {{ vm.firebaseUser.email }}
                  <br/> 
                  UID: {{ vm.firebaseUser.uid }}    
              </p>
              <button class="center button button-assertive" ng-click="vm.signOut()">Sign Out</button>
          </div>
          <!-- if error -->
          <p class="alert-assertive assertive" ng-if="vm.error">Error: <strong>{{ vm.error }}</strong></p>
    </ion-content>
</ion-view>
